# IntelliJ IDEA 설정 폴더
order/.idea/
*.iml

# 빌드 결과물
/out/
/build/
/target/

# Gradle 관련
.gradle/
**/build/

# 환경변수/보안정보
.env
*.properties
*.yml
application-*.yml
application.yml


# 운영체제별 임시 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log

# 자바 컴파일 산출물
*.class

# 패키징 파일
*.jar
*.war
*.ear

# 테스트 결과
/test-output/
